@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: white;
  height: 100vh;
  overflow: hidden;
}

.scroll-container {
  background: rgb(7, 7, 7);
  width: 25rem;
  border-radius: 12px;
  padding: 30px;
}

.scroll-div {
  width: 400px;
  height: 500px;
  background-color: rgb(7, 7, 7);
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-color: #888 #1a1a1a;
}

.scroll-object {
  padding: 20px;
}
